*{
    padding: 0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
}



@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(/resources/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Lobster', cursive;
    src: url(/resources/fonts/Lobster-Regular.ttf);
}

.container{
    width: 1200px;
    margin:0 auto;
}

header{
    background: #273238;
    height: 100px;
}
.nav-area ul{
    float: right;
    padding: 45px 10px;
    margin-right: 10px;
}
.nav-area ul li{
    display: inline-block;
}
.nav-area li a {
    position: relative;
    color: #D8E3EA;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
.nav-area a:hover {
    color: #D8E3EA;
}

.nav-area a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#D8E3EA;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-area a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.slider{
    height: 450px;
}

.slide-content {
    float: right;
    padding: 50px 0px;
}

.slide-content h2{
    font-weight: 100;
    color: #D8E3EA;
}