*{
    padding: 0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
}


@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(/resources/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Lobster', cursive;
    src: url(/resources/fonts/Lobster-Regular.ttf);
}

header{
    background: #2C2C2C;
    height: 100px;
}
.nav-area ul{
    float: right;
    padding: 50px 20px;
    margin-right: 10px;
}
.nav-area ul li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}