*{
    padding: 0px;
    margin:0px;
}

header{
    background: #2C2C2C;
    height: 100px;
}
.nav-area ul{
    float: right;
    padding: 50px 20px;
    margin-right: 10px;
}
.nav-area ul li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
}