*{
    padding: 0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
}

.clear{
    clear: both;
}

@font-face {
    font-family: 'Raleway-Light', sans-serif;
    src: url(/resources/fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(/resources/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Lobster', cursive;
    src: url(/resources/fonts/Lobster-Regular.ttf);
}

.container{
    width: 1200px;
    margin:0 auto;
}

header{
    background: #273238;
    height: 101px;
}
.nav-area ul{
    float: right;
    padding: 40px 0px;

}
.nav-area ul li{
    display: inline-block;
}
.nav-area li a {
    position: relative;
    color: #D8E3EA;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
.nav-area a:hover {
    color: #D8E3EA;
}

.nav-area a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#D8E3EA;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-area a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.slider{
    width: 100%;
    margin:0 auto;
}
.slide{
    height: 450px;

}


.slick-dots{
    position: absolute;
    right: 4%;
    bottom: 40px;
}

.slick-dots li.slick-active button {
    background: #006687;
}

.slick-dots li{
    display: inline-block;
}

.slide-content {
    float: right;
    padding: 40px 0px 0px;
}

.slide-content h2{
    font-weight: 100;
    color: #273238;
}
.slick-dots li button{
    background: #fff;
    text-indent: -99999px;
    border-radius: 100%;
    border: none;
}
.slick-dots li.slick-active button {
    background: #006687;

}


/*General Info Css*/
.general-info {
    margin: 40px auto 0;
    border-bottom: 2px solid #cacaca;
    padding: 0 0 40px;
    text-align: center;
    max-width: 1000px;
    line-height: 24px;
}

.general-info p{
    margin-bottom: 20px;
}

.cols{
    display: flex;
}
.cols h1{
    text-align: center;
}

.cols .col.col-left p{
    padding: 0px 10px;
}
.cols .col.col-right p{
    padding:0px 10px;
}
.general-info .cols .col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
}

/*-- Breadcrumb Css --*/
.breadcrumb-area{
    background: #EF4658;

}
.page-title{
    color: #fff;
    padding: 20px 0px;
    width: 50%;
}
.page-links{
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}

.page-links span ,a{
    color: #fff;
    text-decoration: none;
}

/*-- Three Boxes Css*/
.three-boxes{
    background: #006EAB;
}
.box-area{
    display: flex;
    width: 100%;
    padding: 40px 0px;
}

.title-info{
    text-align: center;
    padding: 40px 0px 0px;
}
.box{
    width: 33%;
    height: 350px; width: 300px;
    border: solid 2px #273238;
    border-radius: 5px;
    margin: 0px auto;
    background: #e5e5e5;
}
.box:hover{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.box-title{
    display: flex;
}
.box-title h1{
    padding: 40px 0px;
}
.box-img{
    margin: 20px 10px;
    height: 75px;
    width: 75px;
    background: #273238;
    border-radius: 100px;
}

.box-img img{
    border-radius: 100px;
}
.box .title-p{
    position: relative;
    left: 95px;
    bottom: 45px;
    color: #aaa;
    font-size: 14px;
}
.box-desc-p{
    padding: 0px 15px;
    line-height: 20px;
}
.box-desc-p i{
    color: #aaa;
}


/*-- Contact Page Css --*/
.iframe-container{
    text-align: center;
    padding: 50px 10px;
}

iframe {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*-- Footer CSS --*/
footer{
    background: #3c3c3c;
    height: auto;
}
 footer .col{
     display: inline-block;
     width: 33%;
     vertical-align: top;
     padding: 40px 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     text-align: center;
 }
 
 footer .col h2{
     color: #e5e5e5;
 }
