*{
    padding: 0px;
    margin:0px;
    font-family: 'Raleway', sans-serif;
}



@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(/resources/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Lobster', cursive;
    src: url(/resources/fonts/Lobster-Regular.ttf);
}

.container{
    width: 1200px;
    margin:0 auto;
}

header{
    background: #273238;
    height: 100px;
}
.nav-area ul{
    float: right;
    padding: 45px 10px;
    margin-right: 10px;
}
.nav-area ul li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}

.slider{
    height: 450px;
}

.slide-content {
    float: right;
    padding: 50px 0px;
}

.slide-content h2{
    font-weight: 100;
    color: #D8E3EA;
}